body{
    background: rgb(177, 156, 255);
    font-family: monospace;
}

h1{
    color: whitesmoke;
    font-size: 50px;
}

input{
    font-family: monospace;
    font-size: 25px;
    width: 500px;
    height: 43px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(216, 212, 255);
}

button{
    font-family: monospace;
    font-size: 20px;
    width: 120px;
    height: 42px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(216, 212, 255);    
}

.name{
    background: rgb(96, 52, 255);
    width: 400px;
    height: 62px;
    border-radius: 5px;
    margin: 20px;
    padding: none;
}

.login_box {
    background: rgb(137, 104, 255);
    padding: 20px;
    width: 600px;
    border-radius: 10px;
}